<!doctype html>
<title>Secret Santa</title>
<body>
  <div>
      <form action="/participant" method="GET">
          <input type="submit" value="Accueil">
      </form>
  </div>

  <main>
        {% block content %}
        {% endblock %}
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

  </main>
</body>