{% extends 'base.html' %}

{% block content %}
<body>
    <h1>Liste des Participants</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Creation Date</th>
            </tr>
        </thead>
        <tbody>
            {% for participant in participants %}
            <tr>
                <td>{{ participant.id }}</td>
                <td>{{ participant.name }}</td>
                <td>{{ participant.email }}</td>
                <td>{{ participant.created.strftime('%d/%m/%Y %H:%M:%S') }}</td>
                <td>
                    <a href="/delete/{{participant.id}}">Delete</a>
                    <br>
                    <a href="/update/{{participant.id}}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="/participant" method="POST">
        <input type="text" name="name" id="name" required placeholder="Enter name">
        <input type="email" name="email" id="email" required placeholder="Enter email">
        <input type="submit" value="Add participant">
    </form>
    <form action="/tirage" method="GET">
        <input type="submit" value="Draw Secret Santa">
    </form>
</body>
{% endblock %}
