{% extends 'base.html' %}

{% block content %}
<div class="name">
    <h1 style="text-align: center">Update Participant</h1>

    <div class="form">
        <form action="/update/{{participant.id}}" method="POST">
            <input type="text" name="name" id="name" value="{{participant.name}}">
            <input type="submit" value="Update">
        </form>
    </div>
</div>
<div class="exclusion">
    <h1 style="text-align: center">Exclusions for {{ participant.name }}</h1>
    {% for canBeExcluded in groupe %}
        {% if canBeExcluded != participant %}
        <div class="form">
            {% set alreadyExcluded = canBeExcluded.id in exclusions %}

            {% if alreadyExcluded %}
                <form action="/inclusion/{{participant.id}}/{{canBeExcluded.id}}" method="POST">
                    <input type="submit" value="Include {{ canBeExcluded.name }}">
                </form>
            {% else %}
                <form action="/exclusion/{{participant.id}}/{{canBeExcluded.id}}" method="POST">
                    <input type="submit" value="Exclure {{ canBeExcluded.name }}">
                </form>
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
    <form action="/clear/{{participant.id}}" method="POST">
        <input type="submit" value="Clear all Exclusions">
    </form>
</div>
{% endblock %}